:root {
    --color-1: #1B2430;
    --color-2: white;
    --div-padding: 10px;
    --div-margin: 10px;

    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}

.dark-mode {
    --color-1: white;
    --color-2: #1B2430;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--color-1);
    color: var(--color-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.score {
    font-size: 3rem;
}

.message {
    font-size: 2rem;
}

.choose {
    display:flex;
    gap: 3rem;
}

.player, .cpu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: var(--color-2);
    color: var(--color-1);
    border: var(--color-2) solid;
    border-radius: 100vw;
    font-size: 8rem;
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 1rem;
}

button {
    background-color: var(--color-1);
    color: var(--color-2);
    border: var(--color-2) solid;
    border-radius: 100vw;
    font-size: 4rem;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.start, button.mode, button.restart{
    font-size: 1.5rem;
    width: 10rem;
    height: 3rem;
    text-align: center;
}

button.restart {
    visibility: hidden;
}
button:hover, .selected {
    background-color: var(--color-2);
    color: var(--color-1);
    transform: scale(1.1);
}

.footer {
    background-color: var(--color-2);
    color: var(--color-1);
    font-size: 0.7rem;
    width: 100%;
    height: 2.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}